@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --scale: 1.25;
  --base-size: 1rem;
  --h5: calc(var(--base-size) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h1: calc(var(--h2) * var(--scale));
  --p: calc(var(--h1) / var(--scale));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  p {
    @apply text-base;
  }

  :is(h1, h2, h3, h4, h5, ) {
    @apply font-bold tracking-tight;
  }
}

div[data-rehype-pretty-code-fragment] {
  @apply mb-0 pb-0;
}
div[data-rehype-pretty-code-fragment] code {
  @apply grid;
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  @apply before:content-[''] after:content-[''];
}

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
  counter-reset: line;
  box-decoration-break: clone;
}
[data-rehype-pretty-code-fragment] .line {
  @apply py-1;
}
[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: #fff;
}
[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-slate-500;
}
[data-rehype-pretty-code-fragment] .line-highlighted span {
  @apply relative;
}
[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-md bg-slate-500  p-1;
}
[data-rehype-pretty-code-title] {
  @apply px-4 py-3 font-mono text-base capitalize font-medium border rounded-t-lg text-gray-900 dark:text-gray-100 dark:bg-gray-950 border-gray-700 bg-gray-100;
}
[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none border-t-0;
}

pre[data-theme="dark"] {
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  [data-theme="light"] {
    display: none;
  }
}
@media (prefers-color-scheme: light) {
  [data-theme="dark"] {
    display: none;
  }
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  pre[data-theme="dark"] {
    display: none;
  }
}
